/**************
*** Generic ***
***************/
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body > div {
  margin: 15px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#setupForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Helvetica, sans-serif;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#setupForm h1 {
  text-align: center;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.tab-description {
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 17px;
}

.entry {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.entry label {
  width: 30%;
  font-weight: bold;
  align-self: center;
}

.entry input, .entry textarea {
  width: 70%;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

span::after {
  padding-left: 5px;
}

input:invalid + span::after {
  content: '✖';
}

input:valid+span::after {
  content: '✓';
}


button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

#loadBtn {
  background-color: #1f4aa7;
}


/* Make circles that indicate the steps of the form: */
.step-indicator-wrapper {
  text-align: center;
  margin-top: 40px;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.img-upload-wrapper {
  max-width: 350px;
  display: none;
}

.img-upload-wrapper img {
  width: 100%;
}

@media only screen and (max-width: 1320px) {
}

@media only screen and (max-width: 900px) {
  #setupForm {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .entry {
    flex-direction: column;
    margin: 10px;
  }

  .entry label {
    width: unset;
    font-weight: bold;
    align-self: center;
  }

  .entry input, .entry textarea {
    width: unset;
  }

}

